#container{
    position: relative;
    width: 50vw;
    height: 50vw;
    background: url("clock.jpg") no-repeat;
    background-size: 100%;
    margin: auto;
}
#pendu{
    position: absolute;
    width: 10vw;
    height: 42vw;
    background: url("pendu.jpg") no-repeat;
    background-size: 100%;
    margin-left: 42.8vw;
    margin-top: 40vw;
    transform-origin: top;
    animation: moveIt 2.5s ease-in-out infinite;
}
@keyframes moveIt {
    0%, 100% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(-45deg);
    }
  }
.img{
    position: absolute;
    width: 30vw;
    height: 30vw;
    margin-top: 10vw;
    margin-left: 10vw;
    border-radius: 62%;
}

#hour,#minute,#seconds{
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    background-color: rgb(250, 37, 9);
    width: 1vw;
    height: 14vw;
    margin-left: 24.2vw;
    margin-top: 10.2vw;
}

#minute{
    background-color: rgb(9, 121, 250);
    width: 1vw;
    height: 17vw;
    margin-left: 24.2vw;
    margin-top: 7.2vw;
}

#seconds{
    background-color: rgb(186, 250, 9);
    width: 0.5vw;
    height: 19vw;
    margin-left: 24.5vw;
    margin-top: 5.2vw;
    transform-origin: bottom;
}

.love{
    position: absolute;
    border-radius: 100%;
    margin-top: 46vw;
    margin-left: 3vw;
    height: 10vw;
    width: 43vw;
}
body{
    background-image: url('https://i.pinimg.com/originals/bb/79/5a/bb795ac13cecee4a37337abc4fadc4aa.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 432vh;
}